.registerBtn{
    box-shadow: 0 5px 10px -2px #000;
}
.courseTable{
    margin: 4rem 0;
    text-align: center;
}
.header{
    margin-bottom: 1.3rem;
}
.removeBtn{
    margin-left: 10px;
    height: fit-content;
    width: auto;
}
.registeredCourses{
    text-align: left;
}
.coursesList>li{
    margin-bottom: 1.1rem;
}