*{
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

:root{
  /* FONTS */
  --heading-fontsize: 2.5rem;
  --subheading-fontsize: 1.5rem;
  --paragraph-fontsize: 1.1rem;
  --small-fontsize: .9rem;

  /* COLOURS */
  --main-bgcolour: #fff;
  --second-bgcolour: teal;
  --textcolour: #000;

  --section-height: 40px;

  --container: 95%;
  --container-padding: 5px 5px 5px 8px;
}
.App {
  margin-left: 10px;
  margin-right: 10px;
}

